<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
  <div class="w-full h-[100vh] flex items-center justify-center bg-gray-100">
    
  <form action="../new/" method="post" enctype="multipart/form-data" class="max-w-md w-full bg-white p-6 rounded-lg shadow-md space-y-4 border-2 border-indigo-300">
    {% csrf_token %}
    <div>
      <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
      <input type="text" name="name" id="name" placeholder="NAME"
            class="mt-1 block w-full border border-gray-300 rounded-md px-3 py-2
                   placeholder-gray-400 text-gray-900 focus:outline-none
                   focus:ring-indigo-500 focus:border-indigo-500 transition"/>
    </div>
    <div class="mb-4">
        <label for="image" class="block text-gray-700 font-medium mb-1">Image</label>
        <input type="file" name="image" id="image"
               class="w-full border border-gray-300 rounded-md p-2"
               accept="image/*" required>
      </div>

    <div>
      <input type="submit" value="Submit"
            class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md
                   hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500
                   transition"/>
    </div>
  </form>
</div>
</div>


</body>
</html>